<div layout="row" pl-inject-property-values="[['#legal_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
<div layout="row">
  <div layout="column" flex id="legal_pageElements_flexColumn"></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
  <md-card layout="column" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;">
    <md-card-content layout="row">
      <div layout="column">
        <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
          LEGAL
        </span>
      </div>
      <div layout="column" flex></div>
    </md-card-content>
    <div layout="row">
      <div layout="column" flex="33">
        <div layout="row" class="pageElements_divider_row"></div>
      </div>
      <div layout="column" flex></div>
    </div>
    <md-card-content layout="row">
      <div layout="column">
        <div layout="row">
          <div layout="column">
            <a class="underline left-to-right font-realtime font-weight-700 text-align-left" style="font-size: 12px;" ng-href="/legal/terms-of-service/">
              TERMS of SERVICE
            </a>
          </div>
          <div layout="column" class="pageElements_spacer_column" style="min-width: 5px;"></div>
          <div layout="column">
            <md-icon style="width: 15px; height: 15px; color: #111; font-size: 15px;">
              arrow_forward
            </md-icon>
          </div>
          <div layout="column" flex></div>
        </div>
        <div layout="row" class="pageElements_spacer_row" style="min-height: 16px;"></div>
        <div layout="row">
          <div layout="column">
            <a class="underline left-to-right font-realtime font-weight-700 text-align-left" style="font-size: 12px;" ng-href="/legal/payment-system-information/">
              PAYMENT SYSTEM INFORMATION
            </a>
          </div>
          <div layout="column" class="pageElements_spacer_column" style="min-width: 5px;"></div>
          <div layout="column">
            <md-icon style="width: 15px; height: 15px; color: #111; font-size: 15px;">
              arrow_forward
            </md-icon>
          </div>
          <div layout="column" flex></div>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <div layout="column" flex></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
</div>
<div layout="row" pl-inject-property-values="[['#legal_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>

<pl-footer></pl-footer>
