<div layout="row" pl-inject-property-values="[['#otherwise_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
<div layout="row">
  <div layout="column" flex id="otherwise_pageElements_flexColumn"></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
  <div layout="column">
    <div layout="row">
      <div layout="column">
        <span class="md-display-2 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(45px * 0.02) #111111; line-height: 45px;">
          PRODUCTS
        </span>
      </div>
      <div layout="column" flex></div>
    </div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <md-card layout="row" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;" ng-repeat="productObject in pageController.productsList" ng-if="!pageController.loading">
      <div layout="column" flex>
        <div layout-gt-xs="row" layout-xs="column">
          <div layout-gt-xs="column" flex layout-xs="row" id="products_pageElements_carouselContainer" pl-inject-property-values="[['#products_pageElements_carouselContainer', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}">
            <div layout="column" flex>
              <div layout="row" flex class="carousel" ng-attr-id="{{ 'products_pageElements_carousel_' + productObject.id }}">
                <div class="carousel_cell coveredImg" style="width: 100%; height: 100%;" ng-repeat="image in productObject.images" ng-style="{'backgroundImage': 'url(' + image + ')'}"></div>
              </div>
            </div>
          </div>
          <div layout-gt-xs="column" layout-xs="row" ng-class="{'pageElements_divider_row': main.$mdMedia('xs'), 'pageElements_divider_column': main.$mdMedia('gt-xs')}"></div>
          <div layout-gt-xs="column" flex-gt-xs layout-xs="row">
            <div layout="column" flex>
              <md-card-content layout="row">
                <div layout="column" flex>
                  <div layout="row">
                    <div layout="column" flex></div>
                    <div layout="column">
                      <span class="color-licorice font-realtime-rounded font-weight-700 text-align-right" style="font-size: 30px; text-shadow: 0 0 calc(30px * 0.02) #111111; line-height: 30px;" ng-bind="productObject.name"></span>
                    </div>
                  </div>
                  <div layout="row" class="pageElements_spacer_row" style="min-height: 8px;"></div>
                  <div layout="row">
                    <div layout="column" flex></div>
                    <div layout="column">
                      <span class="font-realtime text-align-right" style="font-size: 15px;" ng-bind="((productObject.metadata.price.system == 'standard') ? (((productObject.metadata.price.price / 100) * settings.currency.selected.value) | currency : settings.currency.selected.id + ' ' : 2) : ((productObject.metadata.price.system == 'range') ? ((((productObject.metadata.price.low / 100) * settings.currency.selected.value) | currency : settings.currency.selected.id + ' ' : 2) + ' to ' + (((productObject.metadata.price.high / 100) * settings.currency.selected.value) | currency : settings.currency.selected.id + ' ' : 2)) : ('') ) )"></span>
                    </div>
                  </div>
                  <div layout="row">
                    <div layout="column" flex></div>
                    <div layout="column">
                      <span class="font-realtime text-align-right" style="font-size: 15px;" ng-bind="((productObject.metadata.colors.length > 1) ? ('MULTIPLE COLORS, ') : (productObject.metadata.colors[0]) ) + ((productObject.metadata.sizes.system == 'standard') ? ('XS to L') : ('') )"></span>
                    </div>
                  </div>
                </div>
              </md-card-content>
              <div layout="row">
                <div layout="column" flex></div>
                <div layout="column" flex="33">
                  <div layout="row" class="pageElements_divider_row"></div>
                </div>
              </div>
              <md-card-content layout="row">
                <div layout="column">
                  <span class="selectable text-align-justify text-align-last-right" style="font-size: 14px; max-width: 63.429em;" ng-bind="productObject.description"></span>
                </div>
              </md-card-content>
              <div layout="row" flex></div>
              <div layout="row">
                <div layout="column" flex></div>
                <div layout="column" flex="50">
                  <div layout="row" class="pageElements_divider_row"></div>
                </div>
              </div>
              <md-card-content layout="row">
                <div layout="column" flex></div>
                <div layout="column">
                  <a class="underline right-to-left font-realtime font-weight-700 text-align-right" style="font-size: 12px;" ng-href="{{ '/products/' + productObject.id.replace('prod_', '') + '/' }}">
                    GO THERE
                  </a>
                </div>
                <div layout="column" class="pageElements_spacer_column" style="min-width: 5px;"></div>
                <div layout="column">
                  <md-icon style="width: 15px; height: 15px; color: #111; font-size: 15px;">
                    arrow_forward
                  </md-icon>
                </div>
              </md-card-content>
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <div layout="row" ng-if="pageController.loading">
      <div layout="column" flex></div>
      <md-progress-circular layout="column" md-mode="indeterminate"></md-progress-circular>
      <div layout="column" flex></div>
    </div>
  </div>
  <div layout="column" flex></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
</div>
<div layout="row" pl-inject-property-values="[['#otherwise_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>

<pl-footer></pl-footer>
