<div layout="row" id="signOut_pageElements_scrollContainer" style="width: 100vw; overflow: scroll;">
  <div layout="column" style="min-width: 100vw;">
    <div layout="row" pl-inject-property-values="[['#signOut_one_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
    <div layout="row">
      <div layout="column" flex id="signOut_one_pageElements_flexColumn"></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
      <md-card layout="column" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;">
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row">
              <div layout="column">
                <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
                  SIGN OUT
                </span>
              </div>
              <div layout="column" flex></div>
            </div>
          </div>
        </md-card-content>
        <div layout="row">
          <div layout="column" flex="33">
            <div layout="row" class="pageElements_divider_row"></div>
          </div>
          <div layout="column" flex></div>
        </div>
        <md-card-content layout="row">
          <div layout="column" flex>
            <md-input-container layout="row" class="m-b-0">
              <label>
                SESSION
              </label>
              <input type="text" placeholder=" " disabled ng-model="pageController.stages[0].form.session">
            </md-input-container>
          </div>
        </md-card-content>
        <div layout="row">
          <div layout="column" flex></div>
          <div layout="column" flex="33">
            <div layout="row" class="pageElements_divider_row"></div>
          </div>
        </div>
        <md-card-content layout="row">
          <div layout="column" flex></div>
          <div layout="column">
            <a class="underline right-to-left font-realtime font-weight-700 text-align-right" style="font-size: 12px; cursor: pointer;" ng-click="pageController.stages[0].form.continue()">
              CONTINUE
            </a>
          </div>
        </md-card-content>
      </md-card>
      <div layout="column" flex></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
    </div>
    <div layout="row" pl-inject-property-values="[['#signOut_one_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
  </div>
  <div layout="column" style="min-width: 100vw;">
    <div layout="row" pl-inject-property-values="[['#signOut_two_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
    <div layout="row">
      <div layout="column" flex id="signOut_two_pageElements_flexColumn"></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
      <md-card layout="column" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;">
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row">
              <div layout="column">
                <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
                  DONE
                </span>
              </div>
              <div layout="column" flex></div>
            </div>
          </div>
        </md-card-content>
        <div layout="row">
          <div layout="column" flex="33">
            <div layout="row" class="pageElements_divider_row"></div>
          </div>
          <div layout="column" flex></div>
        </div>
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row">
              <div layout="column">
                <span class="selectable text-align-justify text-align-last-center" style="max-width: 18em;">
                  Come back soon.
                </span>
              </div>
              <div layout="column" flex></div>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div layout="column" flex></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
    </div>
    <div layout="row" pl-inject-property-values="[['#signOut_two_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
  </div>
</div>

<pl-footer></pl-footer>
