<div layout="row" id="addCard_pageElements_scrollContainer" style="width: 100vw; overflow: scroll;">
  <div layout="column" style="min-width: 100vw;">
    <div layout="row" pl-inject-property-values="[['#addCard_one_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
    <div layout="row">
      <div layout="column" flex id="addCard_one_pageElements_flexColumn"></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
      <div layout="column">
        <div layout="row">
          <div layout="column">
            <md-icon style="width: 15px; height: 15px; color: #111; font-size: 15px;">
              arrow_back
            </md-icon>
          </div>
          <div layout="column" class="pageElements_spacer_column" style="min-width: 5px;"></div>
          <div layout="column">
            <a ng-href="/account/" class="underline left-to-right font-realtime font-weight-700 text-align-left" style="font-size: 12px;">
              ACCOUNT
            </a>
          </div>
          <div layout="column" flex></div>
        </div>
        <div layout="row" class="pageElements_spacer_row"></div>
        <md-card layout="row" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="min-width: 336px; border-width: 1px;">
          <div layout="column" flex>
            <md-card-content layout="row">
              <div layout="column" flex>
                <div layout="row">
                  <div layout="column">
                    <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
                      ADD CARD
                    </span>
                  </div>
                  <div layout="column" flex></div>
                </div>
              </div>
            </md-card-content>
            <div layout="row">
              <div layout="column" flex="33">
                <div layout="row" class="pageElements_divider_row"></div>
              </div>
              <div layout="column" flex></div>
            </div>
            <md-card-content layout="row" ng-show="!pageController.stages[0].form.cardNumber.loading && !pageController.stages[0].form.cardExpiry.loading && !pageController.stages[0].form.cardCvc.loading && !pageController.stages[0].forn.postalCode.loading">
              <div layout="column" flex>
                <div layout="row">
                  <div layout="column" flex style="padding: 2px;">
                    <span id="addCard_one_pageElements_form_cardNumber_label" style="color: rgba(0,0,0,0.54); font-size: 12px; margin-top: 3px; margin-bottom: 1px;">
                      Card Number
                    </span>
                    <div id="addCard_one_pageElements_form_cardNumber" style="padding: 2px 2px 1px 2px; border-width: 0 0 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.12); margin-bottom: 18px;"></div>
                  </div>
                </div>
                <div layout="row">
                  <div layout="column" flex style="padding: 2px; min-width: 90px;">
                    <span id="addCard_one_pageElements_form_cardExpiry_label" style="color: rgba(0,0,0,0.54); font-size: 12px; margin-top: 3px; margin-bottom: 1px;">
                      Expiry Date
                    </span>
                    <div id="addCard_one_pageElements_form_cardExpiry" style="padding: 2px 2px 1px 2px; border-width: 0 0 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.12);"></div>
                  </div>
                  <div layout="column" class="pageElements_spacer_column" style="min-width: 16px;"></div>
                  <div layout="column" flex style="padding: 2px; min-width: 90px;">
                    <span id="addCard_one_pageElements_form_cardCvc_label" style="color: rgba(0,0,0,0.54); font-size: 12px; margin-top: 3px; margin-bottom: 1px;">
                      CVC
                    </span>
                    <div id="addCard_one_pageElements_form_cardCvc" style="padding: 2px 2px 1px 2px; border-width: 0 0 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.12);"></div>
                  </div>
                  <div layout="column" class="pageElements_spacer_column" style="min-width: 16px;"></div>
                  <div layout="column" flex style="padding: 2px; min-width: 90px;">
                    <span id="addCard_one_pageElements_form_postalCode_label" style="color: rgba(0,0,0,0.54); font-size: 12px; margin-top: 3px; margin-bottom: 1px;">
                      Postal Code
                    </span>
                    <div id="addCard_one_pageElements_form_postalCode" style="height: 26px; padding: 2px 2px 1px 2px; border-width: 0 0 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.12);"></div>
                  </div>
                </div>
              </div>
            </md-card-content>
            <md-card-content layout="row" ng-if="pageController.stages[0].form.cardNumber.loading || pageController.stages[0].form.cardExpiry.loading || pageController.stages[0].form.cardCvc.loading || pageController.stages[0].forn.postalCode.loading">
              <div layout="column" flex></div>
              <md-progress-circular layout="column" md-mode="indeterminate"></md-progress-circular>
              <div layout="column" flex></div>
            </md-card-content>
            <div layout="row">
              <div layout="column" flex></div>
              <div layout="column" flex="33">
                <div layout="row" class="pageElements_divider_row"></div>
              </div>
            </div>
            <md-card-content layout="row">
              <div layout="column" flex></div>
              <md-progress-circular layout="column" style="max-width: 0; max-height: 0; transform: translate(-20px, -5px);" md-mode="indeterminate" md-diameter="25px" ng-if="pageController.stages[1].loading"></md-progress-circular>
              <div layout="column" class="pageElements_spacer_column" style="min-width: 16px;"></div>
              <div layout="column">
                <a class="underline right-to-left font-realtime font-weight-700 text-align-right" style="font-size: 12px; cursor: pointer;" ng-click="pageController.stages[0].form.continue()">
                  CONTINUE
                </a>
              </div>
            </md-card-content>
          </div>
        </md-card>
      </div>
      <div layout="column" flex></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
    </div>
    <div layout="row" pl-inject-property-values="[['#addCard_one_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
  </div>
  <div layout="column" style="min-width: 100vw;">
    <div layout="row" pl-inject-property-values="[['#addCard_two_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
    <div layout="row">
      <div layout="column" flex id="addCard_two_pageElements_flexColumn"></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
      <md-card layout="column" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;">
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row">
              <div layout="column">
                <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
                  DONE
                </span>
              </div>
              <div layout="column" flex></div>
            </div>
          </div>
        </md-card-content>
        <div layout="row">
          <div layout="column" flex="33">
            <div layout="row" class="pageElements_divider_row"></div>
          </div>
          <div layout="column" flex></div>
        </div>
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row">
              <div layout="column">
                <span class="selectable text-align-justify" style="max-width: 18em;">
                  Your card has been added to your account.
                </span>
              </div>
              <div layout="column" flex></div>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div layout="column" flex></div>
      <div layout="column" class="pageElements_spacer_column"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
      <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
    </div>
    <div layout="row" pl-inject-property-values="[['#addCard_two_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
    <div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
  </div>
</div>

<pl-footer></pl-footer>
