<div layout="row" pl-inject-property-values="[['#termsOfService_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>
<div layout="row">
  <div layout="column" flex id="termsOfService_pageElements_flexColumn"></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
  <div layout="column">
    <div layout="row">
      <div layout="column">
        <md-icon style="width: 15px; height: 15px; color: #111; font-size: 15px;">
          arrow_back
        </md-icon>
      </div>
      <div layout="column" class="pageElements_spacer_column" style="min-width: 5px;"></div>
      <div layout="column">
        <a ng-href="/legal/" class="underline left-to-right font-realtime font-weight-700 text-align-left" style="font-size: 12px;">
          LEGAL
        </a>
      </div>
      <div layout="column" flex></div>
    </div>
    <div layout="row" class="pageElements_spacer_row"></div>
    <md-card layout="row" class="m-t-0 m-r-0 m-b-0 m-l-0 b-licorice" style="border-width: 1px;">
      <div layout="column" flex>
        <md-card-content layout="row">
          <div layout="column">
            <span class="md-display-1 color-licorice font-realtime-rounded font-weight-700 text-align-left" style="text-shadow: 0 0 calc(34px * 0.02) #111111; line-height: 34px;">
              TERMS of SERVICE
            </span>
          </div>
          <div layout="column" flex></div>
        </md-card-content>
        <div layout="row">
          <div layout="column" flex="33">
            <div layout="row" class="pageElements_divider_row"></div>
          </div>
          <div layout="column" flex></div>
        </div>
        <md-card-content layout="row">
          <div layout="column" flex>
            <div layout="row" pl-inject-property-values="[['#termsOfService_pageElements_body_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
            <div layout="row">
              <div layout="column" flex id="termsOfService_pageElements_body_flexColumn"></div>
              <div layout="column">
                <div layout="row">
                  <div layout="column">
                    <span class="selectable md-caption font-realtime font-weight-700" style="max-width: 18em;">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id deserunt eaque, doloremque sunt qui fugiat perspiciatis, animi alias accusamus cupiditate.
                    </span>
                  </div>
                  <div layout="column" flex></div>
                </div>
                <div layout="row" class="pageElements_spacer_row" style="min-height: 16px;"></div>
                <div layout="row">
                  <div layout="column">
                    <span class="selectable md-caption font-realtime font-weight-700" style="max-width: 18em;">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vitae quaerat cum iste quia rerum maxime labore aliquam, sit doloribus! Iure esse corporis repellendus, iste magni tempore commodi sint aut!
                    </span>
                  </div>
                  <div layout="column" flex></div>
                </div>
              </div>
              <div layout="column" flex></div>
            </div>
            <div layout="row" pl-inject-property-values="[['#termsOfService_pageElements_body_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
          </div>
        </md-card-content>
      </div>
    </md-card>
  </div>
  <div layout="column" flex></div>
  <div layout="column" class="pageElements_spacer_column"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-sm')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-md')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('gt-lg')"></div>
  <div layout="column" class="pageElements_spacer_column" ng-if="main.$mdMedia('xl')"></div>
</div>
<div layout="row" pl-inject-property-values="[['#termsOfService_pageElements_flexColumn', 'offsetWidth']]" ng-style="{'minHeight': propertyValues[0] + 'px'}"></div>
<div layout="row" class="pageElements_spacer_row"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-sm')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-md')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('gt-lg')"></div>
<div layout="row" class="pageElements_spacer_row" ng-if="main.$mdMedia('xl')"></div>

<pl-footer></pl-footer>
